* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000 91.61%;  
  font-family: "Modelica"; 
}

@font-face {
  font-family: "Modelica";   /*Can be any text*/
  src: local("BwModelica-Regular"), 
    url("./Fonts/BwModelica-Regular.woff") format("woff");
}

body::-webkit-scrollbar{
  height: 5px;
  width: 7px;   
  background-color: rgb(0, 0, 0); 
}
body::-webkit-scrollbar-track{ 
  box-shadow: inset 0px 0p 6px rgb(0, 0, 0);
} 
body::-webkit-scrollbar-thumb{
  border-radius: 5px; 
  background-color: rgb(0, 0, 0);
  outline: 1px solid rgb(0, 0, 0);
} 

.FooterContainer{ 
  margin-top: -5em;
  padding-top: 3em; 
  background-color: #000000fb;
  background-image: url(../src/assets/bg.png); 
} 
.menus{
  display: none;
}
.Hero-top{ 
  display: none;
}
 
/* Web Responsive ness  */
@media screen and (min-width: 1000px){
  .box-container{ 
    display: flex;  
    overflow: hidden;
  }
  .menus{
    display: block;
  }
  .nav{   
    width: 30%;  
    margin-right: 2em;
    background-image: url(../src/assets/bg.png); 
  } 
  .FooterContainer{
      display: none; 
  }
  .Hero-top{
    margin: 2em o; 
    display: block;
  }
} 
  